---
import BaseLayout from '../layouts/BaseLayout.astro';
import { siteConfig } from '../config';
---

<BaseLayout title={siteConfig.name}>
  <div class="index-content framed">
    <h1 id="hello-there">Hello there!</h1>
    <p>Welcome to my portfolio site!</p>
  </div>
</BaseLayout>